<div class="cart-container">
  <div class="cart-panel">
    <div class="cart-item" *ngFor="let item of items">
      <img
        [src]=item.url>
      <div class="cart-item-details">
        <h3>{{item.name}}</h3>
        <h6>{{item.price}}</h6>
        <input type="number" [(ngModel)]="item.amount" (ngModelChange)="deleteItem(item)" >
      </div>
    </div>
    <h2>Total: {{totalPrice() |currency}}</h2>
  </div>

  <div class="form-margin">
    <form #form="ngForm"(ngSubmit)="onSubmit()">
      <mat-form-field >
        <mat-label>Full name</mat-label>
        <input matInput type="text" required minlength="3" [(ngModel)]="fullName" name="fullName" placeholder="(minimum 3 character)">
      </mat-form-field>
      <mat-form-field >
        <mat-label>Adress</mat-label>
        <textarea matInput type="text" required minlength="6" [(ngModel)]="adress" name="adress" placeholder="(minimum 6 character)"></textarea>
      </mat-form-field>
      <mat-form-field >
        <mat-label>Credit Card number</mat-label>
        <input matInput type="text" required maxlength="16" minlength="16"  name="creditCard" placeholder="(16-digit number)"[(ngModel)]="creditCard">
      </mat-form-field>
      <button mat-raised-button color="#33B5E5" type="submit" [disabled]="form.invalid">Submit</button>

    </form>



  </div>
</div>
