<div class="confirmation-items">
  <div class="confirmation-header">
    <H1>Success <img src="assets/party.png"></H1>
  </div>
  <div class="confirmation-item">
    Thank you , <b>{{currentOrder.userName}}</b>
  </div>
  <div class="confirmation-item">
    Your <b>{{getTotalAmout()|currency}}</b> is confirmed
  </div>
  <div class="confirmation-item">
    Please allow 1-3 business day(s) for shipping
  </div>
  <div>
    <button mat-raised-button (click)="home()">Back to product List</button>
  </div>

</div>
