
.header {
  text-align: center;
  background: #33B5E5;
  color: #fff;
  padding: 12px;
  display: block;

}

a {
  color: #fff;
  padding: 5px;
  text-decoration:none ;
}

navigation {
  display: flex;
}
