<div class="product-container">
  <img [src]="product.url" class="product-image" (click)="productDetail()">
  <div class="select-input">
    <h3>{{product.name}}</h3>
    <h3>{{product.price  | currency}}</h3>
    <select name="quantities" id="quantities" [(ngModel)]="amount" class="select-input" >
      <option *ngFor="let number of quantity" [value]="number">{{number}}</option>
    </select>
    <button mat-raised-button color="#33B5E5" (click)="addToCard(product)" class="select-input">Add to cart</button>
  </div>
</div>
