<div class="product-container">
 <div class="product-index" *ngFor="let product of products">
   <app-product-item [product]="product" ></app-product-item>
 </div>
  <mat-grid-list cols="3">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>

</div>
<!--{{products|json}}-->

<!--<div *ngFor="let product of products; index as productId">
  <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
      {{product.name}}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{product.description}}
  </p>

  <button (click)="share()">
    Share
  </button>
  <app-product-alerts
    [product] = "product"
    (notify)="onNotify()"
  >
  </app-product-alerts>
</div>-->
