<div class="detail-container">
<img [src]="product.url">
  <div class="detail-item">
    <h1>{{product.name}}</h1>
    <h6> {{product.price | currency}}</h6>
    <h6> {{product.description}}</h6>
    <div class ='select-input'>
      <select name="quantities" id="quantities" [(ngModel)]="amount" >
        <option *ngFor="let number of quatity" [value]="number">{{number}}</option>
      </select>
    </div>
    <button mat-raised-button color="accent" (click)="addToCard(product)">Add to cart</button>
    <div class="back-link">
      <a (click)="back()"> Back to product list</a>
    </div>
  </div>
</div>
